<section class="home">
  <header class="home__header">
    <h1>Bienvenido</h1>
  </header>
  <p class = "home__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mi tortor, volutpat non molestie eget, condimentum eu est. Proin ipsum lorem, sagittis vitae pretium at, sagittis eget est. Phasellus placerat iaculis sem, sit amet pretium diam rutrum eu. Nulla blandit, ipsum at malesuada fermentum, lorem massa faucibus nulla, eu aliquam erat tortor semper urna. Cras consequat ut orci in condimentum. Morbi eu maximus lorem, non auctor nisl. Integer tristique vestibulum viverra.

    Mauris finibus vulputate justo sed volutpat. Phasellus congue nisl vitae urna sagittis dictum. Proin pharetra mi risus, vitae bibendum erat tristique in. Ut viverra, quam et vehicula sagittis, nulla mauris pellentesque leo, eget tincidunt nibh lectus sit amet turpis. Ut sollicitudin nunc ligula, at ornare nulla faucibus eu. Vivamus erat diam, luctus eu cursus et, pharetra at dolor. Duis accumsan rutrum malesuada. In condimentum nibh augue, et vehicula diam fermentum ac. Vestibulum sit amet libero facilisis, auctor diam vel, dictum risus. Integer molestie vestibulum felis, vitae dapibus massa vestibulum eu. Praesent id ullamcorper nisi.
  </p>
</section>